#objName{
    width: auto;
}
#objStudentsData{
    border: 2px solid;
}
.objStudentData{
    float: right;
    width: 300px;
    border: 2px solid;
}
.eliminateInfo{
    display: flex;
    align-items: center;
}